<div class="form-group has-feedback typeahead" data-toggle="typeahead">
    <input type="text" class="form-control">
    <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"></span>
    <ul class="dropdown-menu"></ul>
</div>