<div class="input-group">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default js-minus">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </span>
  <input type="text" class="form-control text-center">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default js-plus">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </span>
</div>
