<div class="btn-group">
    <button type="button" class="btn btn-default ns-minus-button" disabled>
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <input type="text" class="form-control ns-input">
    <button type="button" class="btn btn-default ns-plus-button">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>