<div class="stepper">
    <button type="button" class="stepper-minus-button" disabled>
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <input type="text" class="stepper-input">
    <button type="button" class="stepper-plus-button">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>