.droplist {
  @include css-dropdown();

  ul {
    padding: 5px 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: block;
    padding: 3px 20px;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    cursor: pointer;

    &:hover,
    &.highlight {
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
    }

    &.disabled {
      &,
      &:hover{
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }
  }
}

.droplist {
  &.droplist-open {
    display: block;
  }
}
