$drop-border: $dropdown-border !default;
$drop-bg: $dropdown-bg !default;
$dropPrefix: drop;

.#{$dropPrefix} {
  @include css-dropdown($drop-border, $drop-bg);
  padding: 5px 8px;

  &:before {
    @include css-triangle($drop-border, null);
  }
  &:after {
    @include css-triangle($drop-bg, null);
  }

  // bottom center
  &.#{$dropPrefix}-element-attached-top.#{$dropPrefix}-element-attached-center {
    @include triangle-s($drop-border, $drop-bg);
  }

  // bottom left
  &.#{$dropPrefix}-element-attached-top.#{$dropPrefix}-element-attached-left {
    @include triangle-se($drop-border, $drop-bg);
  }

  // bottom right
  &.#{$dropPrefix}-element-attached-top.#{$dropPrefix}-element-attached-right {
    @include triangle-sw($drop-border, $drop-bg);
  }

  // top center
  &.#{$dropPrefix}-element-attached-bottom.#{$dropPrefix}-element-attached-center {
    @include triangle-n($drop-border, $drop-bg);
  }

  // top left
  &.#{$dropPrefix}-element-attached-bottom.#{$dropPrefix}-element-attached-left {
    @include triangle-ne($drop-border, $drop-bg);
  }

  // top right
  &.#{$dropPrefix}-element-attached-bottom.#{$dropPrefix}-element-attached-right {
    @include triangle-nw($drop-border, $drop-bg);
  }

  // left middle
  &.#{$dropPrefix}-element-attached-middle.#{$dropPrefix}-element-attached-right {
    @include triangle-w($drop-border, $drop-bg);
  }

  // right middle
  &.#{$dropPrefix}-element-attached-middle.#{$dropPrefix}-element-attached-left {
    @include triangle-e($drop-border, $drop-bg);
  }

  &.#{$dropPrefix}-open {
    opacity: 1;
  }
}