/**
 * Created by huangxinghui on 2015/10/30.
 */

$triangle-size: 8px !default;

img[data-lazy] {
  background: #FFF url("./images/spin.gif") no-repeat center center;
}

@mixin css-triangle($triangle-color, $triangle-direction, $triangle-size: $triangle-size) {
  position: absolute;
  display: inline-block;
  content: "";
  border: $triangle-size solid transparent;

  @if $triangle-direction == top {
    border-top-color: $triangle-color;
  }

  @if $triangle-direction == right {
    border-right-color: $triangle-color;
  }

  @if $triangle-direction == bottom {
    border-bottom-color: $triangle-color;
  }

  @if $triangle-direction == left {
    border-left-color: $triangle-color;
  }
}

@mixin css-dropdown($drop-border:$dropdown-border, $drop-bg:$dropdown-bg, $drop-zindex:$zindex-dropdown, $drop-radius:$border-radius-base) {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: $drop-zindex;
  min-width: 160px;
  padding: 0;
  margin: 0; // override default ul
  background-color: $drop-bg;
  background-clip: padding-box;
  border: 1px solid $drop-border;
  border-radius: $drop-radius;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
}