.list {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  color: #3875d7;
  color: #5897fb;
}

.list-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: $line-height-base;
  color: $dropdown-link-color;
  white-space: nowrap; // prevent links from randomly breaking onto new lines

  &:hover,
  &.highlight {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.active {
    &,
    &:hover{
      color: $dropdown-link-active-color;
      text-decoration: none;
      background-color: $dropdown-link-active-bg;
      outline: 0;
    }
  }

  &.disabled {
    &,
    &:hover{
      text-decoration: none;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
      @include reset-filter;
      cursor: $cursor-disabled;
    }
  }
}