// refer to https://github.com/zurb/foundation/blob/master/scss/foundation/components/_switches.scss
$switch-bg: #ddd !default;

$switch-height-sm: 1.75rem !default;
$switch-height-md: 2rem !default;
$switch-height-lg: 2.5rem !default;
$switch-bottom-margin: 1.5rem !default;
$switch-border-radius: 0 !default;

$switch-paddle-bg: #fff !default;
$switch-active-color: $brand-primary !default;

@mixin switch-base() {
  border: none;
  margin-bottom: $switch-bottom-margin;
  outline: 0;
  padding: 0;
  position: relative;
  user-select: none;

  // Default label styles for type and transition
  label {
    background: $switch-bg;
    color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: ($switch-height-md / 2);
    position: relative;
    text-indent: 100%;
    width: $switch-height-md * 2;
    height: $switch-height-md;
    border-radius: $switch-border-radius;

    // Transition for the switch label to follow paddle
    transition: left .15s ease-out;
  }

  // So that we don't need to recreate the form with any JS, we use the
  // existing checkbox or radio button, but we cleverly position and hide it.
  input {
    left: 10px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 9px;

    & + label {
      margin-left: 0;
      margin-right: 0;
    }
  }

  // The paddle for the switch is created from an after psuedoclass
  // content element. This is sized and positioned, and reacts to
  // the state of the input.

  label:after {
    background: $switch-paddle-bg;
    content: "";
    display: block;
    height: $switch-height-md - .5rem;
    left: .25rem;
    position: absolute;
    top: .25rem;
    width: $switch-height-md - .5rem;
    border-radius: $switch-border-radius;
    transition: left .15s ease-out;
    transform: translate3d(0, 0, 0);
  }

  input:checked + label {
    background: $switch-active-color;
  }

  input:checked + label:after {
    left: $switch-height-md + .25rem;
  }
}

@mixin switch-size($height: $switch-height-md) {

  label {
    height: $height;
    width: $height * 2;
  }

  label:after {
    height: $height - .5rem;
    width: $height - .5rem;
  }

  input:checked + label:after {
    left: $height + .25rem;
  }
}

.switch {
  @include switch-base();
}

.switch-sm {
  @include switch-size($switch-height-sm);
}

.switch-lg {
  @include switch-size($switch-height-lg);
}
