$triangle-size: 8px !default;

@mixin mixin-triangle($selector, $triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  #{$selector} {
    &:before {
      position: absolute;
      display: inline-block;
      content: "";
      border: $triangle-size solid transparent;
    }
    &:after {
      position: absolute;
      display: inline-block;
      content: "";
      border: ($triangle-size - 1) solid transparent;
    }
  }

  &#{$selector}-s {
    &:before {
      top: -($triangle-size * 2);
      left: 50%;
      margin-left: -$triangle-size;
      border-bottom-color: $triangle-border;
    }
    &:after {
      top: -(($triangle-size - 1) * 2);
      left: 50%;
      margin-left: -($triangle-size - 1);
      border-bottom-color: $triangle-bg;
    }
  }

  &#{$selector}-sw {
    left: auto;
    right: 0;
    &:before {
      top: -($triangle-size * 2);
      right: $triangle-size;
      border-bottom-color: $triangle-border;
    }
    &:after {
      top: -(($triangle-size - 1) * 2);
      right: $triangle-size + 1;
      border-bottom-color: $triangle-bg;
    }
  }

  #{$selector}-se {
    &:before {
      top: -($triangle-size * 2);
      left: $triangle-size;
      border-bottom-color: $triangle-border;
    }
    &:after {
      top: -(($triangle-size - 1) * 2);
      left: $triangle-size + 1;
      border-bottom-color: $triangle-bg;
    }
  }

  #{$selector}-n {
    &:before {
      bottom: -($triangle-size * 2);
      left: 50%;
      margin-left: -$triangle-size;
      border-top-color: $triangle-border;
    }
    &:after {
      bottom: -(($triangle-size - 1) * 2);
      left: 50%;
      margin-left: -($triangle-size - 1);
      border-top-color: $triangle-bg;
    }
  }

  #{$selector}-ne {
    &:before {
      bottom: -($triangle-size * 2);
      left: $triangle-size;
      border-top-color: $triangle-border;
    }
    &:after {
      bottom: -(($triangle-size - 1) * 2);
      left: $triangle-size + 1;
      border-top-color: $triangle-bg;
    }
  }
  #{$selector}-nw {
    left: auto;
    right: 0;
    &:before {
      bottom: -($triangle-size * 2);
      right: $triangle-size;
      border-top-color: $triangle-border;
    }
    &:after {
      bottom: -(($triangle-size - 1) * 2);
      right: $triangle-size + 1;
      border-top-color: $triangle-bg;
    }
  }

}