@mixin triangle-s($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    top: -($triangle-size * 2);
    left: 50%;
    margin-left: -$triangle-size;
    border-bottom-color: $triangle-border;
  }
  &:after {
    top: -(($triangle-size - 1) * 2);
    left: 50%;
    margin-left: -($triangle-size - 1);
    border-bottom-color: $triangle-bg;
  }
}

@mixin triangle-se($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    top: -($triangle-size * 2);
    left: $triangle-size;
    border-bottom-color: $triangle-border;
  }
  &:after {
    top: -(($triangle-size - 1) * 2);
    left: $triangle-size + 1;
    border-bottom-color: $triangle-bg;
  }
}

@mixin triangle-sw($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    top: -($triangle-size * 2);
    right: $triangle-size;
    border-bottom-color: $triangle-border;
  }
  &:after {
    top: -(($triangle-size - 1) * 2);
    right: $triangle-size + 1;
    border-bottom-color: $triangle-bg;
  }
}

@mixin triangle-n($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    bottom: -($triangle-size * 2);
    left: 50%;
    margin-left: -$triangle-size;
    border-top-color: $triangle-border;
  }
  &:after {
    bottom: -(($triangle-size - 1) * 2);
    left: 50%;
    margin-left: -($triangle-size - 1);
    border-top-color: $triangle-bg;
  }
}

@mixin triangle-ne($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    bottom: -($triangle-size * 2);
    left: $triangle-size;
    border-top-color: $triangle-border;
  }
  &:after {
    bottom: -(($triangle-size - 1) * 2);
    left: $triangle-size + 1;
    border-top-color: $triangle-bg;
  }
}

@mixin triangle-nw($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    bottom: -($triangle-size * 2);
    right: $triangle-size;
    border-top-color: $triangle-border;
  }
  &:after {
    bottom: -(($triangle-size - 1) * 2);
    right: $triangle-size + 1;
    border-top-color: $triangle-bg;
  }
}

@mixin triangle-w($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    right: -($triangle-size * 2);
    top: 50%;
    margin-top: -$triangle-size;
    border-left-color: $triangle-border;
  }
  &:after {
    right: -(($triangle-size - 1) * 2);
    top: 50%;
    margin-top: -($triangle-size - 1);
    border-left-color: $triangle-bg;
  }
}

@mixin triangle-e($triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  &:before {
    left: -($triangle-size * 2);
    top: 50%;
    margin-top: -$triangle-size;
    border-right-color: $triangle-border;
  }
  &:after {
    left: -(($triangle-size - 1) * 2);
    top: 50%;
    margin-top: -$triangle-size;
    border-right-color: $triangle-bg;
  }
}

@mixin triangle($selector, $triangle, $triangle-border, $triangle-bg, $triangle-size: $triangle-size) {
  @if $triangle == sw {
    #{$selector}-sw {
      &:before {
        @include css-triangle($triangle-border, bottom);
        top: -($triangle-size * 2);
        right: $triangle-size;
      }
      &:after {
        @include css-triangle($triangle-bg, bottom);
        top: -(($triangle-size - 1) * 2);
        right: $triangle-size + 1;
      }
    }
  }

  @if $triangle == se {
    #{$selector}-se {
      &:before {
        @include css-triangle($triangle-border, bottom);
        top: -($triangle-size * 2);
        left: $triangle-size;
      }
      &:after {
        @include css-triangle($triangle-bg, bottom);
        top: -(($triangle-size - 1) * 2);
        left: $triangle-size + 1;
      }
    }
  }

  @if $triangle == nw {
    #{$selector}-nw {
      &:before {
        @include css-triangle($triangle-border, top);
        bottom: -($triangle-size * 2);
        right: $triangle-size;
      }
      &:after {
        @include css-triangle($triangle-bg, top);
        bottom: -(($triangle-size - 1) * 2);
        right: $triangle-size + 1;
      }
    }
  }

  @if $triangle == ne {
    #{$selector}-ne {
      &:before {
        @include css-triangle($triangle-border, top);
        bottom: -($triangle-size * 2);
        left: $triangle-size;
      }
      &:after {
        @include css-triangle($triangle-bg, top);
        bottom: -(($triangle-size - 1) * 2);
        left: $triangle-size + 1;
      }
    }
  }
}