.combobox {
  position: relative;

  .dropdown-menu {
    width: 100%;
    margin-top: 0;
    border-top-width: 0;
    @include border-top-radius(0);

    > li > a:hover {
      color: $dropdown-link-active-color;
      text-decoration: none;
      outline: 0;
      background-color: $dropdown-link-active-bg;
    }
  }
}