<ul class="pagination">
  <li class="disabled">
    <a href="javascript:;" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {{#pagination pages}}{{/pagination}}
  <li>
    <a href="javascript:;" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
