<div class="input-group">
    <input type="text" class="form-control">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default"><span class="caret"></span></button>
    </div>
</div>
<ul class="dropdown-menu" role="menu">
</ul>