<div class="modal fade in" style="z-index: {{z-index}}; display: block;">
  <div class="modal-dialog {{#if size}}modal-{{size}}{{/if}}">
    <div class="modal-content">
      {{{content}}}
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
