<div class="datepicker-days">
    <table>
        <thead>
            <tr>
                <th class="prev">
                    <i class="glyphicon glyphicon-chevron-left" title="Previous Year"></i>
                </th>
                <th class="datepicker-switch" colspan="5" title="Select Month"></th>
                <th class="next">
                    <i class="glyphicon glyphicon-chevron-right" title="Next Year"></i>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>