<div class="datepicker-days">
    <table class="table-condensed">
        <thead>
            <tr>
                <th class="prev">
                    <i class="glyphicon glyphicon-chevron-left" title="Previous Year"></i>
                </th>
                <th class="datepicker-switch" colspan="5" title="Select Month"></th>
                <th class="next">
                    <i class="glyphicon glyphicon-chevron-right" title="Next Year"></i>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="day old">26</td>
            <td class="day old">27</td>
            <td class="day old">28</td>
            <td class="day old">29</td>
            <td class="day old">30</td>
            <td class="day old">31</td>
            <td class="day">1</td>
        </tr>
        <tr>
            <td class="day">2</td>
            <td class="day">3</td>
            <td class="day">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day">7</td>
            <td class="day">8</td>
        </tr>
        <tr>
            <td class="day">9</td>
            <td class="day">10</td>
            <td class="day">11</td>
            <td class="day">12</td>
            <td class="day">13</td>
            <td class="day">14</td>
            <td class="day">15</td>
        </tr>
        <tr>
            <td class="day">16</td>
            <td class="day">17</td>
            <td class="day">18</td>
            <td class="day">19</td>
            <td class="day">20</td>
            <td class="day">21</td>
            <td class="day">22</td>
        </tr>
        <tr>
            <td class="day">23</td>
            <td class="day">24</td>
            <td class="day">25</td>
            <td class="day">26</td>
            <td class="day">27</td>
            <td class="day">28</td>
            <td class="day">29</td>
        </tr>
        <tr>
            <td class="day">30</td>
            <td class="day">31</td>
            <td class="day new">1</td>
            <td class="day new">2</td>
            <td class="day new">3</td>
            <td class="day new">4</td>
            <td class="day new">5</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="7" class="today" style="display: none;">Today</th>
        </tr>
        <tr>
            <th colspan="7" class="clear" style="display: none;">Clear</th>
        </tr>
        </tfoot>
    </table>
</div>