<tr>
    <th colspan="7">
        <span class="label label-hours"></span> : <span class="label label-minutes"></span> : <span class="label label-seconds"></span><a class="btn datepicker-now">{{now}}</a><a class="btn">{{ok}}</a>
    </th>
</tr>