<div>
    <table>
        <tfoot>
            <tr>
                <th colspan="7">
                    <span class="label label-hours"></span> : <span class="label label-minutes"></span> : <span class="label label-seconds"></span><a class="btn datepicker-now">Now</a><a class="btn">OK</a>
                </th>
            </tr>
        </tfoot>
    </table>
</div>