<div class="datepicker-times">
    <table>
        <thead>
            <tr>
                <th colspan="7">{{title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                </td>
            </tr>
        </tbody>
    </table>
</div>