<div class="datepicker-years">
    <table>
        <thead>
            <tr>
                <th class="prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </th>
                <th colspan="5" class="datepicker-switch"></th>
                <th class="next">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                </td>
            </tr>
        </tbody>
    </table>
</div>