<div class="carousel-wrapper">
    <div class="carousel">
        <ul>
            <li><img src="../_shared/img/img1.jpg" width="600" height="400" alt=""></li>
            <li><img src="../_shared/img/img2.jpg" width="600" height="400" alt=""></li>
            <li><img src="../_shared/img/img3.jpg" width="600" height="400" alt=""></li>
            <li><img src="../_shared/img/img4.jpg" width="600" height="400" alt=""></li>
            <li><img src="../_shared/img/img5.jpg" width="600" height="400" alt=""></li>
            <li><img src="../_shared/img/img6.jpg" width="600" height="400" alt=""></li>
        </ul>
    </div>

    <a href="javascript:;" class="carousel-prev-arrow">&lsaquo;</a>
    <a href="javascript:;" class="carousel-next-arrow">&rsaquo;</a>

    <ol class="carousel-dots">
    </ol>
</div>